In [12]:
import pandas as pd

Load the dataframe in pandas from csv file

In [13]:
df = pd.read_csv('train.csv')

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
df = df.drop('Cabin', axis=1)

In [16]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [17]:
df.shape

(891, 11)

In [18]:
df = df.dropna()

In [19]:
df.shape

(712, 11)

In [20]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [21]:
y = df['Survived']

In [22]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [23]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [24]:
X.shape

(712, 7)

In [25]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [26]:
y.shape

(712,)

In [27]:
X = pd.get_dummies(X, columns=['Pclass', 'Sex', 'Embarked'])

In [28]:
X.head()

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [29]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [30]:
X.shape

(712, 12)

In [31]:
# X['Age_2'] = X['Age'] ** 2

In [32]:
# X['Pclass_1_Sex_male'] = X['Pclass_1'] * X['Sex_male']

In [33]:
# X['Pclass_2_Sex_male'] = X['Pclass_2'] * X['Sex_male']

In [34]:
# X['Pclass_3_Sex_male'] = X['Pclass_3'] * X['Sex_male']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

c:\users\goldy\desktop\data_science\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
lr.coef_

array([[-0.03493714, -0.24666909, -0.07014329,  0.00390462,  1.14348515,
         0.22459343, -0.83231937,  1.51252686, -0.97676764,  0.60527813,
        -0.20390892,  0.13439   ]])

In [40]:
lr.score(X_test, y_test)

0.7832167832167832

In [41]:
y_predict = lr.predict(X_test)

In [42]:
for i, y in enumerate(y_test):
    print("Actual:",y, "Predicted:", y_predict[i])

Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1

In [43]:
coef = lr.coef_[0]
x_cols = X_train.columns
for i, col in enumerate(x_cols):
    print("Column:",col,"Coef:",coef[i])

Column: Age Coef: -0.03493714366408405
Column: SibSp Coef: -0.246669090147899
Column: Parch Coef: -0.07014328988945392
Column: Fare Coef: 0.0039046248191908087
Column: Pclass_1 Coef: 1.1434851515512738
Column: Pclass_2 Coef: 0.22459343469252338
Column: Pclass_3 Coef: -0.8323193692509363
Column: Sex_female Coef: 1.5125268562415455
Column: Sex_male Coef: -0.9767676392486901
Column: Embarked_C Coef: 0.6052781314136763
Column: Embarked_Q Coef: -0.20390891517835583
Column: Embarked_S Coef: 0.1343900007575421

In [44]:
lr.score(X_test, y_test)

0.7832167832167832

In [45]:
# df_test=pd.read_csv("test.csv", sep=',')

In [46]:
# df_test.dropna(inplace=True)

In [47]:
# X_test = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [48]:
# X_test = pd.get_dummies(X_test, columns=['Pclass', 'Sex', 'Embarked'])

In [49]:
# X_test.head()

In [50]:
y_pred = lr.predict(X_test)

In [51]:
y_pred

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1], dtype=int64)

In [52]:
from sklearn.metrics import confusion_matrix


confusion = confusion_matrix(y_test, y_pred)

confusion

# tn = confusion[0][0]
# print(tn)

array([[75, 15],
       [16, 37]], dtype=int64)

In [53]:
y_pred = lr.predict(X_test)

In [54]:
for idx, y in enumerate(y_test):
    print('Real:' + str(y) + ' Predicted:'+str(y_pred[idx]))

Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1

In [55]:
from sklearn.tree import DecisionTreeClassifier

In [56]:
classfier = DecisionTreeClassifier()

In [57]:
classfier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [58]:
classfier.score(X_train, y_train)

0.9912126537785588

In [59]:
classfier.score(X_test, y_test)

0.7482517482517482

In [60]:
y_pred = classfier.predict(X_test)

In [61]:
print(y_pred)

[0 1 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1
 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 1 0 0 1 0 0 1 1 0 1 1 1 0 0 0 1 1 0 1 0
 0 1 0 0 1 0 0 0 0 0 0 1 1 1 0 1 1 1 0 0 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 0
 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 0 1 1 1 0 1 0 1 1 1 0 0 0 1 1 1 1]